body {
    min-width: 200px;
    padding: 0px 8px 0px 8px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    /* background-color: #f8f9fa; */

    background-color: rgb(60, 60, 60);
    color: #e8eaed;
}

/* rgb(200, 230, 250); */

button {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px 15px;
    
    font-size: 13px;
    font-weight: 500;

    border: none;
    border-radius: 20px;

    cursor: pointer;
    box-shadow: none;

    transition:
        background-color 0.15s ease,
        transform 0.05s ease;
}

#pdf-button {
    background-color: rgb(29, 73, 116);
    color: rgb(201, 230, 253);
}

#pdf-button:hover {
    background-color: rgb(52, 92, 130);
}

#refresh-button {
    background-color: rgb(40, 40, 40);
    color: rgb(227, 227, 227);
}

#refresh-button:hover {
    background-color: rgb(74, 74, 74);
}

p {
    margin: 8px 0px 10px 0px;
    font-size: 13px;
    color: rgb(199, 199, 199);
    text-align: center;
    line-height: 1.4;
}

p a {
    color: rgb(115, 156, 240);
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.hidden { 
    display: none !important;
}

button:disabled {
    background-color: #2b2c2f;
    border-color: #3c4043;
    color: #80868b;
    cursor: not-allowed;
}

button:active:not(:disabled) {
    transform: scale(0.97);
}